.vscode/settings.json

crspy/n0_calibration_parallel.py
crspy/additional_metadata_hawdon.py
crspy/neutron_coeff_creation_nointen_noagb.py
crspy/theta_nointen_noagb.py
data/meta_data.csv
.DS_Store
dist/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
