.vscode/settings.json

crspy/n0_calibration_parallel.py
crspy/additional_metadata_hawdon.py
crspy/neutron_coeff_creation_nointen_noagb.py
crspy/theta_nointen_noagb.py
data/meta_data.csv
.DS_Store
dist/
crspy.egg-info